.alertbox {
  display: flex;
  margin: 12px 0;
}
.alertbox.hidden {
  display: none;
}

.alertbox[data-alert-type="success"] {
  background-color: var(--light-green);
  color: var(--dark-green);
}
.alertbox[data-alert-type="failure"] {
  background-color: var(--light-red);
  color: var(--dark-red);
}
.alertbox[data-alert-type="info"] {
  background-color: #eee;
}

.alertbox-symbol {
  font-size: 32px;
  line-height: 32px;
  display: flex;
  /* width: 48px; */
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}

.alertbox-close {
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  width: 28px;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
}

.alertbox-message {
  flex: 1;
  align-self: center;
  margin: 4px 0;
}
