.facts-title {
  display: inline-block;
}

.images-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.images-list img {
  max-width: 256px;
  max-height: 256px;
}

.fact-lists {
  display: flex;
  justify-content: center;
}

.case-pager {
  display: inline-block;
  margin-top: 12px;
  text-align: center;
}
