* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 0;
  color: #222;

  --light-green: lightgreen;
  --dark-green: darkgreen;

  --light-red: #ff7f7f;
  --dark-red: darkred;

  --vlight-grey: #ccc;
  --light-grey: #998b9f;
}

.header {
  display: flex;
  align-items: baseline;
  padding: 0 12px;
  border-bottom: 2px solid var(--vlight-grey);
}

.header-title {
  margin: 12px;
  margin-left: 0;
}

.header-nav {
  flex: 1;
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 12px;
}

.header a {
  color: inherit;
}

.view {
  display: flex;
  max-width: 960px;
  margin: auto;
}

.facts,
.tools {
  flex: 1;
  padding: 4px 12px;
}

.case-pager {
  margin-top: 12px;
  text-align: center;
}

button {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: 1px solid var(--light-grey);
  padding: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

button:hover {
  border-color: #222;
}
button:disabled:hover {
  border-color: var(--light-grey);
}

.help-btn {
  display: inline-flex;
  border-radius: 100%;
  color: white;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #403241;
  cursor: pointer;
  border: 2px solid var(--vlight-grey);
}

.help-btn:hover {
  background-color: #7c5f7d;
}
