/* using :not([type]) is important, because the type="text" on inputs is stripped in dist, since it's the default */

input[type="text"],
input:not([type]) {
  border: 1px solid var(--light-grey);
  font-size: inherit;
  outline: none;
  padding: 4px;
  font-family: inherit;
  width: 256px;
  padding-left: 6px;
}

input[type="text"]:focus,
input:not([type]):focus {
  /* border-color: black; */
  /* border-left-width: 4px;
    padding-left: 3px; */
  outline: 1px solid var(--light-grey);
}

.tools-try-common-status {
  font-style: italic;
}

.tools-try-common-status.hidden {
  display: none;
}

.tools-input-row {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.tools-input-row > input {
  flex: 1;
}

.tools fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.tools-pattern-status {
  margin-bottom: 0;
}

.tools-common-main-row {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.tools-common-main-row > button {
  flex: 1;
}
