input {
  border: 1px solid var(--light-grey);
  font-size: inherit;
  outline: none;
  padding: 4px;
  font-family: inherit;
  width: 256px;
  padding-left: 6px;
}

input:focus {
  /* border-color: black; */
  /* border-left-width: 4px;
    padding-left: 3px; */
  outline: 1px solid var(--light-grey);
}

.tools-try-common-status {
  font-style: italic;
}

.tools-try-common-status.hidden {
  display: none;
}
